{{define "auth-links"}}
    <div style="padding:1em;">
        <p><center>Forgot your password? <a href="/auth/password-reset">Reset password.</a></center></p>
        <p><center>Don't have an account? <a href="/auth/signup">Create one.</a></center></p>
        <p><center>Don't received the confirmation email? <a href="/auth/resend-confirmation-email">Request one.</a></center></p>
    </div>
{{end}}