{{define "messages"}}
    <div style="padding:1em;">
        {{if .ErrMsg}}
                <h4 class="alert alert-danger">
                    <center><b>error:</b> {{safeHTML .ErrMsg}}</center>
                </h4>
        {{end}}

        {{if .FlashMsg}}
                <h4 class="alert alert-success">
                    <center>{{safeHTML .FlashMsg}}</center>
                </h4>
        {{end}}
    </div>
{{end}}
